<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{parts/layout :: layout (~{::body},'products')}">
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <h3><th:block th:if="${product['new']}">New </th:block> Product</h3>

            <form th:action="@{/product}" th:with="feedback = ${#fields.hasErrors()}" th:object="${product}"
                  class="form-horizontal" method="post">
                <input th:field="*{id}" th:value="*{id}" type="text" class="hidden"/>
                <div th:with="valid = ${!#fields.hasErrors('brand')}"
                     th:classappend="${!feedback ? ' ' : valid ? ' has-success' : ' has-error'}"
                     class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Brand</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{brand}" th:value="*{brand}"
                               class="form-control" placeholder="brand name"/>
                        <span th:if="${feedback}"
                              th:classappend="${'glyphicon-' + (valid ? 'ok' : 'remove')}"
                              class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span th:if="${feedback and !valid}" th:errors="*{brand}" class="help-block">Error info</span>
                    </div>
                </div>
                <div th:with="valid = ${!#fields.hasErrors('name')}"
                     th:classappend="${!feedback ? ' ' : valid ? ' has-success' : ' has-error'}"
                     class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{name}" th:value="*{name}"
                               class="form-control" placeholder="product name"/>
                        <span th:if="${feedback}"
                              th:classappend="${'glyphicon-' + (valid ? 'ok' : 'remove')}"
                              class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span th:if="${feedback and !valid}" th:errors="*{name}" class="help-block">Error info</span>
                    </div>
                </div>
                <div th:with="valid = ${!#fields.hasErrors('description')}"
                     th:classappend="${!feedback ? ' ' : valid ? ' has-success' : ' has-error'}"
                     class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{description}" th:value="*{description}"
                               class="form-control" placeholder="description"/>
                        <span th:if="${feedback}"
                              th:classappend="${'glyphicon-' + (valid ? 'ok' : 'remove')}"
                              class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span th:if="${feedback and !valid}" th:errors="*{description}" class="help-block">Error info</span>
                    </div>
                </div>
                <div th:with="valid = ${!#fields.hasErrors('category')}"
                     th:classappend="${!feedback ? ' ' : valid ? ' has-success' : ' has-error'}"
                     class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Parent category</label>
                    <div class="col-sm-10">
                        <select th:field="*{category}" class="form-control">
                            <option th:each="subCategory : ${categories}" th:value="${subCategory.id}"
                                    th:text="${subCategory}" th:selected="${subCategory eq product.category}">
                                Product category
                            </option>
                        </select>
                        <span th:if="${feedback}"
                              th:classappend="${'glyphicon-' + (valid ? 'ok' : 'remove')}"
                              class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span th:if="${feedback and !valid}" th:errors="*{category}" class="help-block">Error info</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button th:with="btnText=${product['new']} ? 'Add Product' : 'Update Product'"
                                th:text="${btnText}"
                                class="btn btn-default" type="submit">
                            Add Product
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>