<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{parts/layout :: layout (~{::body},'products')}">
<body>
<div class="container">

    <h3>Products</h3>

    <table id="products" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="_p : ${products}">
            <td th:text="${_p.id}"></td>
            <td th:text="${_p.brand}"></td>
            <td th:text="${_p.name}"></td>
            <td th:text="${_p.description}"></td>
            <td th:text="${_p.category}"></td>
            <td>
                <a th:href="@{product/{id}/(id=${_p.id})}" class="btn btn-warning btn-xs">edit</a>
            </td>
        </tr>
    </table>
    <div class="text-center">
        <a th:href="@{/product/new}" class="btn btn-primary btn-sm">New Product</a>
    </div>
</div>
</body>
</html>