<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{parts/layout :: layout (~{::body},'users')}">
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <h3>Edit user</h3>

            <form th:action="@{/user}" th:with="feedback = ${#fields.hasErrors()}" th:object="${user}"
                  class="form-horizontal" method="post">
                <input th:field="*{id}" th:value="*{id}" type="hidden"/>
                <div th:with="valid = ${!#fields.hasErrors('username')}"
                     th:classappend="${!feedback ? ' ' : valid ? ' has-success' : ' has-error'}"
                     class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{username}" class="col-sm-10 form-control" placeholder="name"/>
                        <span th:if="${feedback}"
                              th:classappend="${'glyphicon-' + (valid ? 'ok' : 'remove')}"
                              class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span th:if="${feedback and !valid}" th:errors="*{username}" class="help-block">Error info</span>
                    </div>
                </div>
                <div th:with="valid = ${!#fields.hasErrors('password')}"
                     th:classappend="${!feedback ? ' ' : valid ? ' has-success' : ' has-error'}"
                     class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" th:field="*{password}" class="col-sm-10 form-control"
                               placeholder="password"/>
                        <span th:if="${feedback}"
                              th:classappend="${'glyphicon-' + (valid ? 'ok' : 'remove')}"
                              class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span th:if="${feedback and !valid}" th:errors="*{password}" class="help-block">Error info</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="checkbox" th:field="*{active}" th:value="*{active}" th:checked="*{active}">
                            <span>Active</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Roles</label>
                    <div class="col-sm-10">
                        <label th:each="_r : ${roles}" class="checkbox-inline">
                            <input type="checkbox" th:field="*{roles}" th:value="${_r.name()}"
                                   th:checked="${user.roles.contains(_r)}">
                            <span th:text="${_r.name()}">USER</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" type="submit">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>