<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{parts/layout :: layout (~{::body},'users')}">
<body>
<div class="container">

    <h3>List of users</h3>

    <table id="products" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Roles</th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="_u : ${users}">
            <td th:text="${_u.id}"></td>
            <td th:text="${_u.username}"></td>
            <td>
                <th:block th:each="_r : ${_u.roles}">
                    <span th:text="${_r.name() + ' '}">Role name</span>
                </th:block>
            </td>
            <td>
                <a th:href="@{user/__${_u.id}__/}" class="btn btn-warning btn-xs">edit</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>