<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{parts/layout :: layout (~{::body},'categories')}">
<body>
<div class="container">

    <h3>Categories</h3>

    <table id="products" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Parent category</th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="_c : ${categories}">
            <td th:text="${_c.id}"></td>
            <td th:text="${_c.name}"></td>
            <td th:text="${_c.description}"></td>
            <td th:text="${_c.parentCategory != null ? _c.parentCategory.name : ''}"></td>
            <td>
                <a th:href="@{category/{id}/(id=${_c.id})}" class="btn btn-warning btn-xs">edit</a>
            </td>
        </tr>
    </table>
    <div class="text-center">
        <a th:href="@{/category/new}" class="btn btn-primary btn-sm">New Category</a>
    </div>
</div>
</body>
</html>