<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{parts/layout :: layout (~{::body},'categories')}">
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <h3>
                <th:block th:if="${category['new']}">New</th:block>
                Category
            </h3>

            <form th:action="@{/category}" th:with="feedback = ${#fields.hasErrors()}" th:object="${category}"
                  class="form-horizontal" method="post">
                <input th:field="*{id}" th:value="*{id}" type="text" class="hidden"/>

                <div th:with="valid = ${!#fields.hasErrors('name')}"
                     th:classappend="${!feedback ? ' ' : valid ? ' has-success' : ' has-error'}"
                     class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input th:field="*{name}" th:value="*{name}"
                               type="text" class="form-control" placeholder="name"/>
                        <span th:if="${feedback}"
                              th:classappend="${'glyphicon-' + (valid ? 'ok' : 'remove')}"
                              class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span th:if="${feedback and !valid}" th:errors="*{name}" class="help-block">Error info</span>
                    </div>
                </div>
                <div th:with="valid = ${!#fields.hasErrors('description')}"
                     th:classappend="${!feedback ? ' ' : valid ? ' has-success' : ' has-error'}"
                     class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <input th:field="*{description}" th:value="*{description}"
                               type="text" class="form-control" placeholder="description"/>
                        <span th:if="${feedback}"
                              th:classappend="${'glyphicon-' + (valid ? 'ok' : 'remove')}"
                              class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span th:if="${feedback and !valid}" th:errors="*{description}" class="help-block">Error info</span>
                    </div>
                </div>
                <div th:with="valid = ${!#fields.hasErrors('parentCategory')}"
                     th:classappend="${!feedback ? ' ' : valid ? ' has-success' : ' has-error'}"
                     class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Parent category</label>
                    <div class="col-sm-10">
                        <select th:field="*{parentCategory}" class="form-control">
                            <option th:each="subCategory : ${categories}" th:value="${subCategory.id}"
                                    th:text="${subCategory}" th:selected="${subCategory eq category.parentCategory}">
                                Parent Category
                            </option>
                        </select>
                        <span th:if="${feedback and !valid}" th:errors="*{parentCategory}" class="help-block">Error info</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button class="btn btn-default" type="submit">
                            <th:block th:text="${category['new'] ? 'Add' : 'Update'}">Add</th:block>
                            Category
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>