<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{parts/layout :: layout (~{::body},'error')}">
<body>

<div th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}" class="container">
    <h3 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h3>
    <p th:utext="${message}">Error java.lang.NullPointerException</p>
</div>

</body>
</html>