<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:replace="~{parts/layout :: layout (~{::body},'login')}">
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <h3>Registration</h3>

            <form th:action="@{/reg}" th:with="feedback = ${#fields.hasErrors()}" th:object="${user}"
                  method="post" class="form-horizontal">
                <div th:with="valid = ${!#fields.hasErrors('username')}"
                     th:classappend="${!feedback ? ' ' : valid ? ' has-success' : ' has-error'}"
                     class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{username}" class="col-sm-10 form-control" placeholder="name"/>
                        <span th:if="${feedback}"
                              th:classappend="${'glyphicon-' + (valid ? 'ok' : 'remove')}"
                              class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span th:if="${feedback and !valid}" th:errors="*{username}" class="help-block">Error info</span>
                    </div>
                </div>
                <div th:with="valid = ${!#fields.hasErrors('password')}"
                     th:classappend="${!feedback ? ' ' : valid ? ' has-success' : ' has-error'}"
                     class="form-group has-feedback">
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" th:field="*{password}" class="col-sm-10 form-control"
                               placeholder="password"/>
                        <span th:if="${feedback}"
                              th:classappend="${'glyphicon-' + (valid ? 'ok' : 'remove')}"
                              class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span th:if="${feedback and !valid}" th:errors="*{password}" class="help-block">Error info</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign up</button>
                        <a th:href="@{/login}">
                            <button type="button" class="btn btn-link">Log in</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>