<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{parts/layout :: layout (~{::body},'home')}">
<body>
<div class="container">

    <h3>Your collection</h3>

    <table id="products" class="table table-striped">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
        </tr>
        </thead>
        <tr th:each="_p : ${products}">
            <td th:text="${_p.brand}"></td>
            <td th:text="${_p.name}"></td>
            <td th:text="${_p.description}"></td>
            <td th:text="${_p.category}"></td>
        </tr>
    </table>
</div>
</body>
</html>