<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (template, menu)">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Demo 2: Online shop</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}"><span>Online Shop</span></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <span class="sr-only"><os-p>Toggle navigation</os-p></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <div class="hidden">
                    <li th:fragment="menuItem(path, active, title, glyph, text)"
                        th:class="${active == menu ? 'active' : ''}" th:hidden="${title == null}">
                        <a th:href="@{__${path}__}" th:title="${title}">
                            <span th:class="'glyphicon glyphicon-'+${glyph}" aria-hidden="true"></span>
                            <span th:text="${text}">Menu item</span>
                        </a>
                    </li>
                </div>

                <li th:replace="::menuItem ('/','home','home page','shopping-cart','Browse')">
                </li>

                <li th:replace="::menuItem ('/product','products','browse products','barcode','Products')">
                </li>

                <li th:replace="::menuItem ('/category','categories','browse categories','folder-open','Categories')">
                </li>

                <li th:replace="::menuItem ('/user','users','show users','list-alt','Users')">
                </li>

                <li th:replace="::menuItem ('/contacts','contacts','show contacts','map-marker','Contacts')">
                </li>

                <th:block th:if="${#httpServletRequest.remoteUser}">
                    <li th:class="${menu == 'login' ? 'active' : ''}" class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            [[${#httpServletRequest.remoteUser}]]
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">

                            <li><a th:href="@{/browse/owned}">Collection</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="#">
                                    <form th:action="@{/logout}" method="post">
                                        <input type="submit" class="btn btn-default btn-sm" value="Sign out">
                                    </form>
                                </a>
                            </li>
                        </ul>
                    </li>
                </th:block>

                <th:block th:unless="${#httpServletRequest.remoteUser}">
                    <li th:replace="::menuItem ('/login','login','log in','user','Login')">
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>
<div th:if="${message}" class="container">
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="${message}"> </span>
    </div>
</div>
<br/>

<th:block th:include="${template}"/>

<br/>
<footer>
    <div class="container">
        <div class="text-muted text-right">
            <span>Demo2 shop © 2018</span>
        </div>
    </div>
</footer>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
